# node_modules folder
node_modules/
npm-debug.log
yarn-debug.log


# node modules to ignore
node_modules/
# logs
logs/
# git  metadata ignore on every level of a directory
**/.git
# exclude the main folder and its files
/main/*

# include yaml file inside all levels of the main folder
!/main/*.yaml
!/main/**/*.yaml

# Ignore generated all class files
**/*.class

# Ignore files with extensions
*.scss
node_modules
dist
.git
Dockerfile
.dockerignore
README.md